body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  background-color: #e5e5e5;
  border: none;
  border-radius: 5px;
  width: 8em;
}
