body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-search {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
}

.input-search input {
  border: solid 1px rgb(154, 154, 154);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 70%;
}

.input-search button {
  margin: 0;
  margin-right: 10px;
  width: 30%;
}

.radio-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.radio-bottom input {
  margin-left: 10px;
}

