.containerIng {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.containerIng h3 {
  font-size: medium;
  margin-top: 0.5em;
}

.ingredients {
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  border: 2px solid orange;
  box-shadow: rgb(134, 134, 134) 0 5px 5px 0;
  color: rgb(67, 66, 66);
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
}

.ingredients:hover {
  background-color: rgb(219, 216, 216);
}

