main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.food-card {
  align-items: center;
  border: 2px solid orange;
  border-radius: 15px;
  box-shadow: rgb(134, 134, 134) 0 5px 10px 0;
  display: flex;
  flex-flow: column nowrap;
  height: 350px;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.food-card section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food-card img {
  border-radius: 15px;
  box-shadow: rgb(134, 134, 134) 0 5px 10px 0;
  height: 200px;
  width: 200px;
}

.food-card h3 {
  color: rgb(68, 67, 67);
  font-size: larger;
  margin-top: 1.5em;
  text-align: center;
}

.food-card:hover {
  background-color: rgb(219, 216, 216);
  text-decoration: none;
}

a:hover h3 {
  font-weight: 700;
}
