main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.food-card {
  align-items: center;
  border: 2px solid orange;
  display: flex;
  flex-flow: column nowrap;
  height: 450px;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 400px;
}

.food-card img {
  height: 300px;
  width: 300px;
}

.food-card h3 {
  color: rgb(68, 67, 67);
  margin-top: 1.5em;
  text-align: center;
}

.food-card:hover {
  background-color: rgb(219, 216, 216);
  text-decoration: none;
}

a:hover h3 {
  font-weight: 700;
}
