body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-around;
  min-height: 80px;
}

.header img {
  width: 50px;
}

.search-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  border: none;
}

