body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: rgb(255, 105, 0);
  display: flex;
  justify-content: space-around;
  min-height: 80px;
}

.header img {
  width: 40px;
}

.header h1 {
  font-size: x-large;
}

.search-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  border: none;
  margin: 0;
  padding: 0;
  width: 50px;
}

