body {
  box-sizing: border-box;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

header {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  height: 80px;
  justify-content: space-around;
}

header img {
  width: 50px;
}

.teste {
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  border: none;
}
