body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  align-items: center;
  background-color: #e5e5e5;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  min-height: 80px;
  position: fixed;
  width: 100%;
}

footer img {
  width: 50px;
}

