main {
  align-content: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 70px;
}

.drink-card {
  align-items: center;
  border: 2px solid orange;
  display: flex;
  flex-flow: column wrap;
  height: 450px;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 400px;
}

.drink-card img {
  height: 300px;
  width: 300px;
}
