body {
  margin: 0;
  padding: 0;
}

.container-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.meal-img {
  height: 400px;
  width: 350px;
}

.buttons button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.carosel {
  display: flex;
  height: 350px;
  margin: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  width: 360px;
}

.carosel img {
  height: 300px;
  margin-right: 1px;
  object-fit: contain;
  width: 180px;
}

.startBtn {
  bottom: 0;
  margin-top: 100px;
  position: fixed;
}
